@model DATteam.Models.Proizvod

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Proizvod</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proizvodjac" class="control-label"></label>
                <input asp-for="Proizvodjac" class="form-control" />
                <span asp-validation-for="Proizvodjac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cijena" class="control-label"></label>
                <input asp-for="Cijena" class="form-control" />
                <span asp-validation-for="Cijena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rokTrajanja" class="control-label"></label>
                <input asp-for="rokTrajanja" class="form-control" />
                <span asp-validation-for="rokTrajanja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lijekTip" class="control-label"></label>
                <input asp-for="lijekTip" class="form-control" />
                <span asp-validation-for="lijekTip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="naRecept" /> @Html.DisplayNameFor(model => model.naRecept)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="kolicnia" class="control-label"></label>
                <input asp-for="kolicnia" class="form-control" />
                <span asp-validation-for="kolicnia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
